{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  {{ if .Title }}
  <div class="h-entry blog">
  {{ else }}
  <div class="h-entry note-summary">
  {{ end }}
    {{ if .Site.Params.showAuthorOnPosts }}
      <a rel="author" class="p-author h-card" href="{{ .Site.Home.RelPermalink }}" style="display:none;">{{ .Site.Data.author.name }}</a>
    {{ end }}
    <div class="intro">
      {{ if .Title }}
        <h1 class="p-name">{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ end }}
    </div>
    <div class="content e-content">
      {{ .Content }}
    </div>
    <!-- Post Meta -->
    <footer class="post-meta">
      <span class="dot">⌘</span>
      <span class="post-date dt-published">{{ dateFormat "Jan 2, 2006" .Date }}</span>
      <a class="u-url" href="{{ .RelPermalink }}" style="display:none;"/>
      {{ if .Params.categories }}
        {{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize .) }}
          <a class="post-tag p-category" href="{{ $href }}">#{{ . }}</a>
        {{ end }}
      {{ end }}
    </footer>    
  </div>
  {{ if .Site.Params.include_conversation }}
    <h3>Conversations<span class="dot">.</span></h3>
	  <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
  {{ end }}
{{ end }}