{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      {{ if .Title }}
        <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ end }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
  </div>
  <!-- Post Meta -->
  <footer class="post-meta">
    <span class="dot">⌘</span>
    <span class="post-date">{{ dateFormat "Jan 2, 2006" .Date }}</span>
    {{ if .Params.categories }}
      {{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize .) }}
        <a class="post-tag" href="{{ $href }}">#{{ . }}</a>
      {{ end }}
    {{ end }}
  </footer>
  {{ if .Site.Params.include_conversation }}
    <h3>Conversations<span class="dot">.</span></h3>
	  <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
  {{ end }}
{{ end }}