{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      {{ if not .Title }}
        <div class="summary-date"><a href="{{ .RelPermalink }}">{{ dateFormat "Jan 2, 2006" .Date }}</a></div>
      {{ else }}
        <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
        <div class="summary-date">{{ dateFormat "Jan 2, 2006" .Date }}</div>
      {{ end }}
      {{ if .Params.image }}
      <img src="{{ .Params.image | relURL }}" />
      {{ end }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
  </div>
  <!-- Post Tags -->
  {{ if .Params.categories }}
  <div class="post-tags">
    {{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize .) }}
    <a href="{{ $href }}">#{{ . }}</a>
    {{ end }}
  </footer>
  {{ end }}
  {{ if .Site.Params.include_conversation }}
    <h3>Conversations<span class="dot">.</span></h3>
	  <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
  {{ end }}
{{ end }}