a {
  color: var(--highlight-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-family: var(--font-family-heading);
}
p {
  color: var(--text-color);
  font-family: var(--font-family-paragraph);
  font-size: 18px;
  line-height: 24px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
  }
}

.content {
  font-size: 18px;
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 40px;
    line-height: 1.6;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  h2 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
    @include breakpoint('small') {
      font-size: 30px;
      line-height: 1.4;
    }
  }
  h3 {
    font-size: 22px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  ul {
    list-style: disc;
    li {
      list-style: disc;
    }
  }
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
  ul,
  ol {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 10px;
      margin-left: 0;
      @include breakpoint('small') {
        margin-left: 20px;
      }
    }
    @include breakpoint('small') {
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
    }
  }
  blockquote {
    border-left: 5px solid var(--highlight-color);
    margin: 30px 0;
    padding: 20px;
  }
  blockquote p {
    font-size: 20px;
    display: inline;
    color: var(--color-base-text);
  }
  img {
    display: block;
    margin: 40px auto;
    max-width: 100%;
    height: auto;
  }
  figure {
    margin: 2.6rem 0 1.18rem;
    img {
      margin: 0;
    }
    figcaption {
      margin-top: 10px;
      h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }
  }
  code,
  pre {
    font-family: var(--font-family-monospace);
  }
  .highlight {
    pre {
      border-radius: 3px;
      font-size: 14px;
      line-height: 18px;
      padding: 30px;
      overflow: auto;
      font-family: var(--font-family-monospace);
    }
  }
}

.dot {
  color: var(--dot-color);
}

.footnotes {
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
}

.post-date, a.post-tag {
  font-size: 18px;
  margin-right: 10px;
}

.post-meta .dot {
  font-size: 18px;
  color: var(--dot-color);
}

.post-tags {
  padding-top: 20px;
}

.microblog_conversation {
  padding-top: 40px;
}

.microblog_post {
  padding: 20px 0;
}

.microblog_time a {
  font-size: 16px;
}

img.microblog_avatar {
  width: 40px;
  height: 40px;
  max-width: 40px !important;
  border-radius: 5px;
}

span.microblog_fullname {
  vertical-align: top;
  padding: 10px;
  font-size: 16px;
}

.post-note, .post-stats {
	background:#fff5b8;
	border-left: 2px solid #d4a259;
	padding: 10px !important;
  	margin-right: 5px !important;
  	color: #333;
	border-radius: 5px;
}

.post-note a { color: #d4a259;}

.post-note h2 { margin-top: 5px}

note {
	background: #fff5b8;
	color: #333;
}

.now-metadata { 
  	font-size: 16px;
    color: #666;
    margin: 5px auto 0;
    background-color: #fff5b8;
    padding: 10px;
    border-radius: 5px;
}

.now-hl { 
	font-size: 14px; 
	color: #e24e42; 
  	margin: 5px auto 0;
  	padding: 0 5px;	
  	background-color: #fff5b8;
	border-radius: 3px;
}

.now-post p {
  margin-bottom: 10px;
}

input, textarea {
  border: 1px solid var(--lit);
  padding: 0 10px;
}

button, input[type=button], input[type=submit] {
  cursor: pointer;
  color: inherit;
  border: none;
}

a.conversation-on-mb {
  margin-right: 0px;
  float: right;
}

a.reply-by-email {
    margin-right: 15px;
    float: right;
}

#input_search {
  color: inherit;
}

.bookshelf_book {
  margin: 40px auto;
  padding-bottom: 7px;
}

.bookshelf_title {
  padding-left: 10px;
}

.bookshelf_author {
  padding-left: 10px;
  font-style: italic;
}

img, video, embed, iframe { max-width: 100%; border-radius: 5px; height: auto; }

span.rss-date::before {
  content: "Read On ";
}

a.rss-item {
  text-decoration: none;
}

li.rss-item {
  list-style: none !important;
  margin-left: 12px !important;
}

li.rss-item::before {
  content: "✔︎ ";
  color: var(--orange);
  display: inline-block;
  width: 1.4em;
  margin-left: -1.4em;
  font-size: 16px;
  @media screen and (max-width: 720px) { 
    content: none;
  }
}

.rss-box {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.media-meta {
  display: grid;
  margin: 30px auto;
  grid-gap: 10px;
  align-items: start;
}

.books-list {
  grid-column: 1/2;
  grid-row: 1;
  @media screen and (max-width: 720px) { 
    grid-column: 1/5;
    grid-row: 1;
  }
}

.movies-list {
  grid-column: 3/5;
  grid-row: 1;
  @media screen and (max-width: 720px) { 
    grid-column: 1/5;
    grid-row: 2;
  }
}

.books-list-head, .movies-list-head {
  margin-top: 0;
  margin-left: 10px;
}