{{ if .Title }}
<div class="summary">
{{ else }}
<div class="note-summary">
{{ end }}
  {{ if .Site.Params.showAuthorOnPosts }}
    {{ partial "author.html" . }}
  {{ else }}
    {{ if not .Title }}
      <div class="summary-date"><a href="{{ .RelPermalink }}">{{ dateFormat "Jan 2, 2006" .Date }}</a></div>
    {{ else }}
      <div class="summary-date">{{ dateFormat "Jan 2, 2006" .Date }}</div>
    {{ end }}
  {{ end }}
  {{ if .Title }}
    <h2 class="summary-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ end }}
  {{ if .Title }}
    <p class="summary-description">{{ .Summary | truncate 300 }}</p>
  {{ else }}
    <section class="content">{{ .Content }}</section>
  {{ end }}
</div>