<div class='header'>
  <a class="header-logo" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
  <div class="menu-main">
    <ul>
      {{ $url := .RelPermalink }}
      <li class="menu-item-post {{ if strings.HasSuffix $url "/post/" }}active{{ end }}">
        <a class="" href="/post/">Articles</a>
      </li>
      <li class="menu-item-notes {{ if strings.HasSuffix $url "/notes/" }}active{{ end }}">
        <a class="" href="/notes/">Notes</a>
      </li>
      <li class="menu-item-stats {{ if strings.HasSuffix $url "/stats/" }}active{{ end }}">
        <a class="" href="/stats/">Stats</a>
      </li>
      <li class="menu-item-now {{ if strings.HasSuffix $url "/now/" }}active{{ end }}">
        <a class="" href="/now/">Now</a>
      </li>
      <li class="menu-item-about {{ if strings.HasSuffix $url "/about/" }}active{{ end }}">
        <a class="" href="/about/">About</a>
      </li>
    </ul>
  </div>
  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</div>