<div id="menu-main-mobile" class="menu-main-mobile">
    {{ $url := .RelPermalink }}
    <ul class="menu">
        <li class="menu-item-post {{ if strings.HasSuffix $url "/post/" }}active{{ end }}">
            <a class="" href="/post/">Articles</a>
        </li>
        <li class="menu-item-notes {{ if strings.HasSuffix $url "/notes/" }}active{{ end }}">
            <a class="" href="/notes/">Notes</a>
        </li>
        <li class="menu-item-stats {{ if strings.HasSuffix $url "/stats/" }}active{{ end }}">
            <a class="" href="/stats/">Stats</a>
        </li>
        <li class="menu-item-now {{ if strings.HasSuffix $url "/now/" }}active{{ end }}">
            <a class="" href="/now/">Now</a>
        </li>
        <li class="menu-item-about {{ if strings.HasSuffix $url "/about/" }}active{{ end }}">
            <a class="" href="/about/">About</a>
        </li>
    </ul>
</div>